body {
  margin: 0;
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(0, 173, 238); */
  overflow-x: hidden;
}

nav{
  background-color: rgb(0, 173, 238);
}

main h4 {
  text-align: center;
  color: inherit;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 20px;
}

.header {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(0, 173, 238);
  color: rgb(255, 255, 255);
  position: sticky;
  top: 0px;
  z-index: 1001;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 250px;
}

.logo {
  padding: 16px 8px 16px 0px;
}

.space {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
  padding: 0px 15px;
}

.nav a,
a:hover,
a:visited {
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 12px 8px;
}

.nav {
  min-width: 500px;
}

.login {
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 12px 0px;
  min-width: 60px;
}

.login a,
a:hover,
a:visited {
  padding: 12px 8px;
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.start {
  cursor: pointer;
  border-radius: 24px;
  border: 0px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  background-color: rgb(255, 140, 0);
  color: rgb(255, 255, 255);
  box-shadow: rgb(133 127 120 / 24%) 0px 8px 24px;
  outline: transparent solid 1px;
  padding: 8px 0px 8px 0px;
  font-size: inherit;
  font-weight: inherit;
  margin: 8px 0px 8px 15px;
  min-width: 150px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.start a,
a:hover,
a:visited {
  padding: 12px 8px;
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.container2 {
  background-color: rgb(0, 173, 238);
  margin: 0;
  padding: 0;
 white-space: nowrap;
}

.container2 h1 {
  color: white;
  text-align: center;
  font-size: 34px;
  font-style: bold;
}

.container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  appearance: none;
  outline: none;
}

form {
  display: flex;
  flex-direction: row;
  align-items: left;
  background-color: white;
  width: 100%;
  margin-left: 250px;
  padding: 2rem;
  appearance: none;
  outline: none;
}

form .i1, .i2, .i3 {
  padding: 25px;
}

.container3 h2 {
  color: rgb(59, 59, 59);
  font-size: 18px;
}

.submit{
  display: flex;
  flex-direction: row;
  align-items: left;
}

input[type=button],
button {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  border-radius: 24px;
  border: 0px;
  padding: 13px 16px;
  margin-top: 0px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  background-color: rgb(255, 140, 0);
  color: rgb(255, 255, 255);
  box-shadow: rgb(133 127 120 / 24%) 0px 8px 24px;
  outline: transparent solid 1px;
  margin-bottom: 0px;
  align-self: stretch;
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.boldp {
  font-weight: bold;
  color: rgb(0, 173, 238);
}

.questions {
  background-color: white;
  text-align: center;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #eaeaea;
  color: grey;
  text-align: center;
  height: 100px;
}

input[type=number] {
  font-family: 'Montserrat', sans-serif;
  color: rgb(59, 59, 59);
  border-radius: .5rem;
  padding: .5rem;
  max-width: 200px;
  font-size: 16px;
  background-color: #f3f0f0;
  border: none;
  /* text-align: right; */
}

.percentage {
  font-family: 'Montserrat', sans-serif;
  color: rgb(59, 59, 59);
  border-radius: .5rem;
  padding: .5rem;
  font-size: 16px;
  background-color: #f3f0f0;
  border: none;
}

.valuePadding {
  font-family: 'Montserrat',
    sans-serif;
  border: 0px inset #f3f0f0;
  color: rgb(59, 59, 59);
  border-radius: .5rem;
  padding: .5rem;
  font-size: 16px;
  background-color: #f3f0f0;
}