body {
  margin: 0;
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(0, 173, 238);
  color: rgb(255, 255, 255);
  position: sticky;
  top: 0px;
  height: 66px;
  z-index: 1001;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px 8px 16px 50px;
}

.logo {
  padding: 16px 8px 16px 0px;
}

.container1{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.space {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
  padding: 0px 15px;
}

.nav a,
a:hover,
a:visited {
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 12px 8px;
}

.nav{
  min-width: 500px;
}

.login{
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 12px 0px;
  min-width: 60px;

}

.login a,
a:hover,
a:visited {
  padding: 12px 8px;
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.start {
cursor: pointer;
border-radius: 24px;
border: 0px;
display: block;
box-sizing: border-box;
text-align: center;
text-decoration: none;
background-color: rgb(255, 140, 0);
color: rgb(255, 255, 255);
box-shadow: rgb(133 127 120 / 24%) 0px 8px 24px;
outline: transparent solid 1px;
padding: 8px 0px 8px 0px;
font-size: inherit;
font-weight: inherit;
margin: 8px 0px 0px 15px;
min-width: 150px;
color: rgb(255, 255, 255);
text-decoration: none;
}

.start a,
a:hover,
a:visited {
  padding: 12px 8px;
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: none;
}


