*{ 
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Helvetica, sans-serif;
}
.header{
    display: flex;
    align-items: flex-start;
    background-color: #00ADEE;
}
.logo{
    order: 1; 
}
.nav{
    color: white;
}
.buttons{
    align-items: right;
    margin: 1rem;
}
.start{
    background: #FF8C00;
    align-items: right;
}